$background_color: #f3f4f4;
$color: #444;
$button_background: #5eb6e6;

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    width: 350px;
    min-height: 500px;
    background-color: $background_color;
    color: $color;
}
button {
    background: $button_background;
    border: 0;
    padding: 13px 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;

    &.cancel {
        background-color: #9e9e9e;
        color: $color;
    }
}
a,
input {
    &:focus {
        outline: none;
    }
}
.text-center {
    text-align: center;
}
.f-upper {
    text-transform: uppercase;
}
.p-b-30 {
    padding-bottom: 30px;
}
.alert {
    &.alert-danger {
        color: #cc0000;
    }
}
.container {
    padding: 30px 30px 20px;

    h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 20px;
    }
}

ul.main-menu {
    background: #383838;
    list-style: none;
    height: 50px;

    li {
        display: inline-block;

        a {
            color: #fff;
            display: block;
            padding: 15px 15px;
            text-decoration: none;
            text-transform: uppercase;

            &.active {
                background: #585858;
                padding-bottom: 10px;
                border-bottom: 5px solid #43baff;
            }

            .icon {
                display: block;
                height: 20px;
                fill: #fff;
                margin: 0 auto;
            }

            span {
                display: none;
            }
        }
    }
}

.form-group {
    padding: 10px 0;

    input,
    textarea {
        border: 1px solid $color;
        box-sizing: border-box;
        padding: 15px;
        margin-bottom: 15px;
        width: 100%;

        &::placeholder {
            color: $color;
            text-transform: uppercase;
        }
    }
    textarea {
        resize: none;
        min-height: 100px;
        margin-bottom: 0;

        &::placeholder {
            text-transform: initial;
            text-align: center;
        }
    }
}

.totals {
    background: #e8e8e8;
    padding: 10px;

    label {
        font-weight: 500;
        text-transform: uppercase;
        line-height: 25px;
    }
}

.qr-code {
    text-align: center;
    padding-bottom: 25px;
}

.wallet-address {
    font-size: 13px;
    margin-left: -15px;
}

.note {
    font-size: 12px;
    color: #a8a8a8;
    margin: 20px 0;
    text-align: center;
    font-weight: 300;
}

.seed-words {
    background: #e8e8e8;
    padding: 10px;

    ul {
        list-style: none;
        text-align: center;
        display: flex;
        flex-wrap: wrap;

        li {
            box-sizing: border-box;
            flex: 1 1 25%;
            padding: 3px;
        }
    }
}
.documents {
    .document {
        background-color: #fff;
        margin-bottom: 10px;
    }
}
